.AdvertisementOne_main{
    height: 360px;
    width: 315px;
    background: white;
    margin: 10px;
}

.AdvertisementOne_header{
    font-size: 21px;
    line-height: 27px;
    font-weight: bold;
    padding: 15px;
}

.AdvertisementOne_body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.AdvertisementOne_footer{
    padding: 15px;
    font-weight: 500;
}